* {
    box-sizing: border-box;
}

body {
    background-color: blue;

}
h1 {background-color: red;}

:root {

    --grid-cols: 1;
    --grid-rows: 1;
}

#game-board-grid-1{

    grid-template-columns: repeat(var(--grid-cols), 50px);
    grid-template-rows: repeat(var(--grid-rows), 50px);
    display: grid;
    background-color: orange;
    width: 800px;
}

#game-board-grid-2{

    grid-template-columns: repeat(var(--grid-cols), 50px);
    grid-template-rows: repeat(var(--grid-rows), 50px);
    display: grid;
    background-color: plum;
    width: 800px;
}

.game-board-grid-item{
width: 100%;
height: 100%;
border: 1px solid green;

}
